{% extends 'html/base.html' %}{% load static %}{% block content %}
<div class="container">
    <main class="main">
        <div class="back_img">
            <div class="content">
                <h2>
                    B2B pharma products supplier to medical shop Hospitals and Doctors.
                </h2>
            </div>
        </div>

    </main>
    <div class="things">
        <div class="right">
            <div class="img">
                <img src="{% static 'images/75750.jpg' %}" alt="" srcset="">
            </div>
            <div class="text">
                <h2>Now medical retail owner can book all types of products like Generic products, surgical , Parenteral and General products.</h2>
            </div>
        </div>
        <div class="left">
            <div class="img"> <img src="{% static 'images/38539.jpg' %}" alt="" srcset="">
            </div>
            <div class="text">
                <h2>D-MARK supply surgical products to hospital with attractive minimum price</h2>
            </div>
        </div>
        <div class="middle">
            <div class="img"> <img src="{% static 'images/3957701.jpg' %}" alt="" srcset="">
            </div>
            <div class="text">
                <h2>D-MARK supply surgical products to hospital with attractive minimum price</h2>
            </div>
        </div>
    </div>
    <div class="line"></div>
    <div class="containerdown">
        <div class="right">
            <img src="{% static 'images/3966816.jpg' %}" alt="can't load">
        </div>
        <div class="middle">
            <p>D-MARK is a B2B Marketplace for Medicines and Healthcare products. <br> D-MARK is a collaborative trade platform that enables Medical shop, Doctor’s and Hospital Nursing home to discover products at better rates, transact and get them delivered
                anywhere in India. <br> D-MARK supply generic, Parenteral, surgical and general products to our partners.</p>
        </div>
        <div class="left">
            <img src="{% static 'images/20943459.jpg' %}" alt="can't load">
        </div>
    </div>
</div>
{% endblock %}