{% extends 'html/base.html' %}{% load static %} {% block content %}
<div class="container_six">
    <div class="headline">
        Terms And Conditions
        <h6>Last updated: July, 13th 2021</h6>
    </div>
    <div class="content">
        <p class="one">Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using the http://www.d-mark.com website (the "Service") operated by D-MARK ("us", "we", or "our"). By installing the Application (as defined below), you
            agree to be bound by these terms of use ("appterms"). Please review them carefully before installation and/or acceptance.</p>
        <p class="two">Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service. By accessing or using the Service you agree to be bound
            by these Terms. If you disagree with any part of the terms then you may not access the Service.</p>
        <p class="three">The "Application" shall mean the software provided by D-MARK to offer services related to D-MARK, D-MARK services and its partners' services, to be used on Apple iOS and Android OS devices and any upgrades from time to time and any other software
            or documentation which enables the use of the Application. Any personal information you supply to D-MARK when using the Application will be used by D-MARK in accordance with its Privacy Policy. Accounts
        </p>
        <p class="four">The Application allows you to access certain functionality available on the D-MARK.com website. Such access will be governed by the D-MARK Website Terms of Use. When you create an account with us, you must provide us information that is accurate,
            complete, and current at all times. Failure to do so constitutes a breach of the Terms, which may result in immediate termination of your account on our Service.</p>
        <p class="five">You are responsible for safeguarding the password that you use to access the Service and for any activities or actions under your password, whether your password is with our Service or a third-party service. You agree not to disclose your password
            to any third party. You must notify us immediately upon becoming aware of any breach of security or unauthorized use of your account.</p>

        <h3>
            Proprietary Rights and License
        </h3>
        <p class="six">All trademarks, copyright, database rights and other intellectual property rights of any nature in the Application together with the underlying software code are owned either directly by D-MARK or by D-MARK licensors. D-MARK hereby grants you
            a worldwide, non-exclusive, royalty-free revocable license to use the Application for your business and personal use in accordance with these appterms.</p>
        <h3>
            Conditions of Use
        </h3>
        <ul>
            <li>You will not, nor allow third parties on your behalf to.
                <ol type="i">
                    <li>make and distribute copies of the Application </li>
                    <li>attempt to copy, reproduce, alter, modify, reverse engineer, disassemble, decompile, transfer, exchange or translate the Application;</li>
                    <li>create derivative works of the Application of any kind whatsoever.</li>
                </ol>
            </li>
            <li>The Application is currently made available to you free of charge for your personal, non-commercial use. D-MARK reserves the right to amend or withdraw the Application, or charge for the application or service provided to you in accordance
                with these appterms, at any time and for any reason.</li>
            <li>You acknowledge that the terms of agreement with your respective mobile network provider (‘Mobile Provider’) will continue to apply when using the Application. As a result, you may be charged by the Mobile Provider for access to network connection
                services for the duration of the connection while accessing the Application or any such third party charges as may arise. You accept responsibility for any such charges that arise.</li>
            <li>If you are not the bill payer for the mobile telephone or handheld device being used to access the Application, you will be assumed to have received permission from the bill payer for using the Application.
                <h3> Availability</h3>
                <ol type="i">
                    <li>This Application is available to handheld mobile devices running Apple iOS and Android OS Operating Systems. D-MARK will use reasonable efforts to make the Application available at all times. However you acknowledge the Application
                        is provided over the internet and mobile networks and so the quality and availability of the Application may be affected by factors outside D-MARK reasonable control.</li>
                    <li>D-MARK, its group of companies and sub-contractors do not accept any responsibility whatsoever for unavailability of the Application, or any difficulty or inability to download or access content or any other communication system failure
                        which may result in the Application being unavailable.
                    </li>
                    <li>D-MARK will not be responsible for any support or maintenance for the Application.</li>
                </ol>
            </li>
            <li>
                <h3>System Requirements
                </h3>
                <ol type="i">
                    <li>
                        In order to use the Application, you are required to have a compatible mobile telephone or handheld device, internet access, and the necessary minimum specifications ('Software Requirements').
                    </li>
                    <li>The Software Requirements are as follows: Apple iOS devices running iOS 4 or iOS 5, and Android OS devices running Android OS 2.3 onwards; Language: English.</li>
                    <li>The version of the Application software may be upgraded from time to time to add support for new functions and services. Obligations of D-MARK
                    </li>
                    <li>In the D-MARK Application, Customer shall mean not only the Distributors but also the Wholesaler, Stockist, C&F or anyone accessing the D-MARK Distributor Application.</li>
                    <li>The Distributors data, which is personal in nature and specially pertaining to the name of the Distributor, its stores, Godowns, Branches and also indicative figures pertaining to the business that such Distributor conducts, shall
                        not be shared with any third party without the permission of the Distributor management. Obligations of Customer (Distributors, C&F, Stockist)
                    </li>
                    <li>It will be necessary for the Distributor to give consent on sharing its retailers data, product data, stock data, stock quantity and other data as mutually agreed between Pharmarack and the Distributor. This will enable the D-MARK
                        Application to work as intended and fulfill the objectives of the Distributor.</li>
                    <li>
                        It is incumbent on the Distributor to give consent and authorize D-MARK to install its Application at the Distributors’ server or other relevant accessible Infrastructure / location (with connectivity to server or relevant database or patch required for
                        D-MARK) to sync relevant data as a prerequisite for using the D-MARK Application. The Distributor will be required to mandatorily confirm all the fields that can be synced by D-MARK on regular basis.
                    </li>
                    <li>The D-MARK business methodology and also access to the D-MARK Website or the Application or any other D-MARK interface shall not be shared by the Distributor with any third party without taking prior consent from D-MARK.</li>
                </ol>
            </li>
            <li>
                <h3>Termination</h3>
                <ol type="i">
                    <li>D-MARK may terminate use of the Application and Service at any time by giving notice of termination to you. We may terminate or suspend access immediately, without prior notice or liability, for any reason whatsoever, including without
                        limitation if you breach the Terms.</li>
                    <li>All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability. We may terminate
                        or suspend your account immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.</li>
                    <li>
                        Upon termination
                        <ol type="a">
                            <li>the rights and licenses granted to you herein shall terminate; </li>
                            <li>you must cease all use of the Software. If you wish to terminate your account, you may simply discontinue using the Service and Application.</li>
                        </ol>
                    </li>
                </ol>
                <li>All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</li>
            </li>
            <li>
                <h3>Limitation of Liability</h3>
                <ol type="i">
                    <li>• In no event will D-MARK be liable for any direct, indirect, special, punitive, exemplary or consequential losses or damages of whatsoever kind arising out of your use or access to the Application, including loss of profit or the
                        like whether or not in the contemplation of the parties, whether based on breach of contract, tort (including negligence), product liability or otherwise.</li>
                    <li>• D-MARK is not liable to you for any damage or alteration to your equipment including but not limited to computer equipment, handheld device or mobile telephones as a result of the installation or use of the Application.</li>
                    <li>• Nothing in these Appterms shall exclude or limit D-MARK liability for death or personal injury caused by negligence or for fraud or fraudulent misrepresentation or any other liability which cannot be excluded or limited under applicable
                        law.
                    </li>
                </ol>
            </li>
            <li>
                <h3>Indemnity</h3>
                <ol type="i">
                    <li>• You agree to indemnify, defend and hold harmless D-MARK and its affiliates, agents, respective employees, directors, officers, agents, managers, vendors and suppliers from and against any liability, losses, claims, damages, demands,
                        investigations, inquiries, suits, costs and expenses (including legal fee and costs incidental thereto) asserted against or incurred, that arise out of or otherwise relating to your use of the Website and Application, including
                        without limitation any obligation to be performed by you pursuant to these Terms. Further, you agree to hold D-MARK harmless against any claims made by any third party due to, or arising out of or otherwise relating to your use
                        of the Website or Application, any claim arising out of damage caused to third party by you, breach of these Terms by you, or your violation of any rights of another, including any intellectual property rights. Further, you agree
                        to hold D-MARK harmless against any claims made by any third party due to legal suits regarding the originality, copyright issues, your violation of any third party right, including without limitation any copyright, property, or
                        privacy right. This defense and indemnification obligation will survive these Terms.</li>
                    <li>• Notwithstanding anything to the contrary, our entire liability towards You under these Terms or otherwise shall only be in connection with refund of the money charged from you for any particular product or service, under which the
                        unlikely liability arises.</li>
                </ol>
            </li>
            <li>
                <h3>Governing Law</h3>
                <ol type="i">
                    <li>These Terms shall be governed and construed in accordance with the laws of India, without regard to its conflict of law provisions.</li>
                    <li>Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms
                        will remain in effect. These Terms constitute the entire agreement between us regarding our Service and Application, and supersede and replace any prior agreements we might have between us regarding the Service and Application.
                    </li>
                </ol>
            </li>
            <li>
                <h3>Disclaimer of Warranties</h3>
                <ol type="i">
                    <li>To the maximum extent permitted by law, and for the avoidance of doubt, save for section 2 of the Supply of Goods and Services Act 1982, D-MARK hereby disclaims all implied warranties with regard to the Application. The Application
                        and software are provided "as is" and "as available" without warranty of any kind.</li>
                </ol>
            </li>
            <li>
                <h3>Links to Other Web Sites</h3>
                <ol type="i">
                    <li>Our Service may contain links to third-party web sites or services that are not owned or controlled by D-MARK.</li>
                    <li>D-MARK has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that D-MARK shall not be responsible or liable,
                        directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.</li>
                    <li>We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you visit.</li>
                </ol>
            </li>
            <li>
                <h3>Changes</h3>
                <ol type="i">
                    <li>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 15 days notice prior to any new terms taking effect. What constitutes a material
                        change will be determined at our sole discretion.</li>
                    <li>By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service.</li>
                </ol>
            </li>
            <li>
                <h3>Contact Us</h3>
                <ol type="i">
                    <li>If you have any questions about these Terms, please contact us.</li>
                </ol>
            </li>
        </ul>
    </div>


</div>
{% endblock %}