{% extends 'html/base.html' %}{% load static %} {% block content %}
<div class="container_seven">
    <div class="main">
        <h1>OUR SERVICES</h1>
        <div class="up">
            <div class="right"><img src="{% static 'images/28896.jpg' %}" alt="" srcset=""></div>
            <div class="left">
                <h2>Entrepreneur opportunity for individual:</h2>
                <h3>Employee, students or any individual wants to start medicine supply business to medical shop, doctor’s and hospital </h3>
                <h3>Contact D-MARK Business Partner team</h3>

            </div>
        </div>
        <hr>
        <div class="middle">
            <div class="right"><img src="{% static 'images/65886.jpg' %}" alt="" srcset=""></div>
            <div class="left">
                <h2>Monopoly Brand for Doctors and Medical shop:</h2>
                <h3>D-MARK support medical retailer and Doctor’s to start there own brand in nearby area.</h3>
                <h3>For more detail please contact to D-MARK Business Partner team.</h3>
            </div>
        </div>
        <hr>
        <div class="down">
            <div class="right"><img src="{% static 'images/young-woman-pharmacist-pharmacy.jpg' %}" alt="" srcset=""></div>
            <div class="left">
                <h2>Start your own pharmaceutical distributor for:</h2>
                <h3>Generic products</h3>
                <h3>Parenteral</h3>
                <h3>Surgical</h3>
                <h3>General products</h3>
            </div>
        </div>
    </div>
</div>
{% endblock %}